@page "/"

<h3>Home Page</h3>

<p> Ez az alkalmazás lehetővé teszi a portfólió oldalon szereplő adatok szerkesztését. Külön hozzáférhetsz minden adathoz, amiket kényelmesen szerkeszthetsz.</p>
<p> A legfontosabb hogy mindig a legújabb "portfolio_data" repository-t használd, munka előtt mindig pull-olj, majd pedig töltsd fella github repóba a változtatásokat.</p>
<p> Maga a portfólió oldal már az új adatokat fogja lekérdezni, amennyiben nem látod a módosításokat, shift+f5-el kényszerfrissítést hajthatsz végre, ami ignorálja a cache-t.</p>

@code {

}
