@inherits LayoutComponentBase

<nav class="navbar  shadow-sm py-3 px-4 bg-white">
    <div class="container-fluid">
        <span class="mb-0"> <b>Github JSON Editor</b></span> <br />
        <span class="text-secondary">
            CRM Adatbáziskezelő
        </span>
    </div>
</nav>


<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
